    
p {
      color: rgb(0, 0, 0);
    }
    h1 {
      font-size: 2em;
    }
      div {
      padding: 20px;
      margin: 20px;
    }
  
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: rgb(113, 98, 88);
    }
    .responsive-image {
      max-width: 100%;
      height: auto;
    } 
  .responsive-image {
        display: block;
        margin: 0 auto;
    }
    .navbar {
    padding-top: 0.5rem;    /* ylhäältä */
    padding-bottom: 0.5rem; /* alhaalta */
    font-size: 1rem;       /* pienempi teksti */
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.03);  
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease;  
}
.card-body {
  max-height: 200px;
  overflow: auto;
}

  h1 {
    margin-top: 60px;
  }
  h2 {
    margin-top: 40px;
}








